name: 'Terraform'

on:
  push:
    branches:
    - master
  pull_request:

defaults:
  run:
    shell: bash
    working-directory: ./provision

jobs:
  setup:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
    - name: Terraform Init
      run: terraform init
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  terraform-fmt:
    needs: [setup]
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash
        working-directory: ./provision

    steps:
    - name: Terraform Format
      run: terraform fmt -check
